<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.elmohammadymarket">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".Views.PreOrdersActivity"></activity>
        <activity android:name=".Views.ContactActivity" />
        <activity android:name=".Views.UsersData" />
        <activity android:name=".Views.ComplaintsActivity" />
        <activity android:name=".Views.RedeemPoints" />
        <activity android:name=".Views.ChangeShipping" />
        <activity android:name=".Views.AddNeighborhood" />
        <activity android:name=".Views.Products" />
        <activity android:name=".Views.AddSubDepartment" />
        <activity android:name=".Views.AddDiscount" />
        <activity android:name=".Views.AddAdmin" />
        <activity android:name=".Views.PreviousOrders" />
        <activity android:name=".Views.AddDepartment" />
        <activity
            android:name=".Views.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.LoginActivity" />
        <activity android:name=".Views.OrdersActivity" >

        </activity>
        <activity android:name=".Views.ManageProducts" />
        <activity android:name=".Views.AddNewAd" />
        <activity android:name=".Views.AddNewProduct" />
        <activity android:name=".Views.MainActivity" >

        </activity>

        <service
            android:name=".NotificationPackage.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".NotificationPackage.OrdersNotificationsService"
            android:exported="false" />
    </application>

</manifest>